{% extends '_layout.twig' %}

{% block main_content %}

<h1>#{{star.id}} -- <strong>Star: {{star.name}}</strong> </h1>


<div>
    <p>Star magnitude :{{ star.diameter }}</p>
    <p>Star Type :{{ star.type }}</p>
    <p>Star Description :{{ star.description }}</p>

</div>

<p>

<a href="/stars/{{ galaxy.id }}/edit">Edit this Star</a>

<a href="/stars">Back to Stars</a>

<a href="/stars/{{ star.id }}/delete">Delete this Star</a>


</p>

{% endblock %}